/* UI Components try to respect [BEM](http://getbem.com/naming/) for the naming of their CSS classes */
@import "./modules/CustomNavBar.css";

html {
}

body {
  background: #f2f2f2;
  margin-top: 5px;
}

@font-face {
 font-family: "Impact";
 src: url("fonts/unicode.impact.ttf");
}


.line--yellow {
  background: #fcc352;
  height: 5px;
}

.header-image-container {
  background-image: url('../img/Assemblee-nationale-que-font-vraiment-les-deputes-absents.jpg');
  height: 200px;
  width: 100%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.header-image-container__title {
  flex-grow: 1;
  text-align: center;
  font-size: 53px;
  font-family: "Impact", monospace;
  color: white;
  --text-border-color: #22222257;
  text-shadow: 2px 2px 0 var(--text-border-color), 2px -2px 0 var(--text-border-color), -2px 2px 0 var(--text-border-color), -2px -2px 0 var(--text-border-color), 2px 0px 0 var(--text-border-color), 0px 2px 0 var(--text-border-color), -2px 0px 0 var(--text-border-color), 0px -2px 0 var(--text-border-color);
}

.header-image-container__title--alternative-color {
  color: #fcc352;
  --text-border-color: #22222257;
  text-shadow: 2px 2px 0 var(--text-border-color), 2px -2px 0 var(--text-border-color), -2px 2px 0 var(--text-border-color), -2px -2px 0 var(--text-border-color), 2px 0px 0 var(--text-border-color), 0px 2px 0 var(--text-border-color), -2px 0px 0 var(--text-border-color), 0px -2px 0 var(--text-border-color);
}

h1, h2 {
  color: #103a4a;
}

.find-your-representative-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 12px;
}

.find-your-representative {
  border: 3px solid #103a4a;
  border-radius: 10px;
  padding: 12px;
  max-width: 650px;
}

.find-your-representative__title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.find-your-representative__title {
  background: #103a4a;
  font-size: 22px;
  margin-bottom: 8px;
  color: white;
  padding: 1px 13px;
  font-weight: bold;
  font-style: italic;
}

.find-your-representative__content {
  display: flex;
}

.find-your-representative__form-spacer {
  width: 30px;
}

.find-your-representative__form-label {
  color: #103a4a;
}

.find-your-representative__search-button {
  border-color: #a6a6a6;
  background-color: #ffb579;
}

.article {
  background: white;
  padding: 8px;
}

.article table {
  border: 1px solid #ccc;
}

.article table tbody tr:nth-child(2n+1) {
  background-color: #e9e9e9;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.clickable:hover, .clickable *:hover {
  cursor: pointer;
}
