.custom-nav-bar {
  background: #3d5f6c;
  padding: 3px 0;
  margin-top: 5px;
  font-family: "Gill Sans", sans-serif;/*monospace*/
  font-weight: bold;
  font-size: 19px;
}

.custom-nav-bar nav.navbar {
  background: #3d5f6c;
}

.custom-nav-bar .menu__item, .custom-nav-bar .submenu__label, .custom-nav-bar .submenu__item {
  color: #fff;
}

.custom-nav-bar .menu__item.active, .custom-nav-bar .submenu__label.active, .custom-nav-bar .submenu__item.active {
  background: initial;
  color: #fcc352;
}

.custom-nav-bar .menu__item:hover, .custom-nav-bar .submenu__label:hover, .custom-nav-bar .submenu__item:hover {
  color: #fcc352;
}

.custom-nav-bar .menu__item.active:hover, .custom-nav-bar .submenu__item.active:hover {
  text-decoration: initial;
}

.custom-nav-bar .submenu .dropdown-menu {
  background-color: #3d5f6c;
}

.custom-nav-bar .submenu__item:hover {
  background: #4d798a;
}